<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}img/favicon.png">

        <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }}{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>
        
        <link href="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}css/bootstrap.css" rel="stylesheet">
        <link href="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}css/base.css" rel="stylesheet">
        <link href="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}css/{{ project_name }}.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}js/html5shiv.js"></script>
            <script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}js/respond.min.js"></script>
        <![endif]-->
        {% templatetag openblock %} block extra_head {% templatetag closeblock %}
        {% templatetag openblock %} endblock extra_head {% templatetag closeblock %}
    </head>

    <body>

        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">{{ project_name }}</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li{% templatetag openblock %} if active_nav == "home" {% templatetag closeblock %} class="active"{% templatetag openblock %} endif {% templatetag closeblock %}><a href="/">Home</a></li>
                            <li{% templatetag openblock %} if active_nav == "app_name" {% templatetag closeblock %} class="active"{% templatetag openblock %} endif {% templatetag closeblock %}><a href="/app_name/">app_name</a></li>
                            <li{% templatetag openblock %} if active_nav == "app_name2" {% templatetag closeblock %} class="active"{% templatetag openblock %} endif {% templatetag closeblock %}><a href="/app_name2/">app_name2</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <!-- Begin page content -->
            <div class="container">
{% templatetag openblock %} block pre_content {% templatetag closeblock %}
{% templatetag openblock %} endblock pre_content {% templatetag closeblock %}

<!-- START CONTENT -->
{% templatetag openblock %} block content {% templatetag closeblock %}
Page content goes here...
{% templatetag openblock %} endblock content {% templatetag closeblock %}
<!-- END CONTENT -->

{% templatetag openblock %} block post_content {% templatetag closeblock %}
{% templatetag openblock %} endblock post_content {% templatetag closeblock %}
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted credit">{{ project_name }} v0.1</p>
            </div>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}js/jquery-1.10.2.min.js"></script>
        <script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}js/bootstrap.min.js"></script>
        <script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}js/{{ project_name }}.js"></script>
        {% templatetag openblock %} block extra_js {% templatetag closeblock %}
        {% templatetag openblock %} endblock extra_js {% templatetag closeblock %}
    </body>
</html>
