{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}
Page
{% templatetag openblock %} endblock title {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div class="page-header">
    <h1>Sticky footer with fixed navbar</h1>
</div>

<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>

<p>Back to <a href="#">the default sticky footer</a> minus the navbar.</p>
{% templatetag openblock %} endblock content {% templatetag closeblock %}